<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Enterprise | Your new car</title>
	<link rel="stylesheet" href="{% static 'css\index\styles_s1.css' %}"> <!-- стили хедера -->
	<link rel="stylesheet" href="{% static 'css\index\slider.css' %}">
	<link rel="stylesheet" href="{% static 'css\index\app.css' %}">
	<style type="text/css">
		.header-sales-content, .header-maintenance-content{
			background-image: url("{% static 'site_images\трубка.png' %}");
		}

		.header-logo, .header-other-logo{
			background-image: url("{% static 'site_images\toyota-logo-1989-2560x1440-1024x560 (1).png' %}");
		}

	</style>
</head>
<body>
	<div class="header-conteiner">
		<header>
			<div class="header-top">
				<div class="header-logo">
					<!--<img src="{% static 'site_images\toyota-logo-1989-2560x1440-1024x560 (1).png' %}">-->
				</div>
				<div class="header-address">
					<div class="header-address-content">
						<div class="header-address-top"><span>{{lang_dict.header_menu.city}}</span></div>
						<div class="header-address-bottom"><span>{{lang_dict.header_menu.address}}</span></div>
					</div>
				</div>
				<div class="header-tel">
					<div class="header-sales">
						<div class="header-sales-content">
							<div class="header-sales-top"><span>{{lang_dict.header_menu.sales_department}}</span></div>
							<div class="header-sales-bottom"><span>{{lang_dict.header_menu.tel_sales_department}}</span></div>
						</div>
					</div>
					<div class="header-maintenance">
						<div class="header-maintenance-content">
							<div class="header-maintenance-top"><span>{{lang_dict.header_menu.maintenance_department}}</span></div>
							<div class="header-maintenance-top"><span>{{lang_dict.header_menu.tel_maintenance_department}}</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom">
				<div class="header-bottom-conteiner">
					<div class="header-menu-modile">
						<div class="title-menu-modile">
							<a href="" onclick="return false;"><div onclick="show_menu_modile(this)">
								<span>Меню</span>
							</div></a>
						</div>
					</div>
					<div class="header-menu">
						<a href="">
							<div class="header-menu-item">
								<div><span>{{lang_dict.header_menu.cars}}</span></div>
							</div>
						</a>
						<a href="">
							<div class="header-menu-item">
								<div><span>{{lang_dict.header_menu.maintenance}}</span></div>
							</div>
						</a>
						<a href="">
							<div class="header-menu-item">
								<div><span>{{lang_dict.header_menu.service}}</span></div>
							</div>
						</a>
						<a href="">
							<div class="header-menu-item">
								<div><span></span>{{lang_dict.header_menu.promotions_news}}</div>
							</div>
						</a>
						<a href="">
							<div class="header-menu-item">
								<div><span>{{lang_dict.header_menu.accessories}}</span></div>
							</div>
						</a>
						<a href="">
							<div class="header-menu-item">
								<div><span>{{lang_dict.header_menu.spares}}</span></div>
							</div>
						</a>
						<a href="">
							<div class="header-menu-item">
								<div><span>{{lang_dict.header_menu.about_us}}</span></div>
							</div>
						</a>
					</div>
					<div class="header-other">
						<div class="header-other-logo">
							<!--<img src="{% static 'site_images\toyota-logo-1989-2560x1440-1024x560 (1).png' %}">-->
						</div>
						<div class="header-other-lang">
							<span>{{ lang }}</span>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
	<section class="section_1">
		<div class="slider">
		    <div class="slider__wrapper">
		      <div class="slider__items">
		      	{% for slider in list_for_slider %}
			        <div class="slider__item item-{{ slider.slide_number }}">
			          	<div class="background-image background_section_1 slide_{{ slider.slide_number }} w2560_h1080" style="background-image: url('{{ slider.picture }}');"></div>
			          	<div class="substrate"></div>
			          	<div class="slider-content">
			          		<div class="slider-description">
			          			<div class="slider-description-title">
			          				<div class="title-text">
			          					{{ slider.title }}
			          				</div>
			          			</div>
			          			<div class="slider-description-text">
			          				<div class="text-description">
			          					{{ slider.short_description }}
			          				</div>
			          			</div>
			          			<div class="slider-description-button">
			          				<a href="#">
				          				<div class="button">
				          					<span>{{ slider.text_button }}</span>
				          				</div>
			          				</a>
			          			</div>
			          		</div>
			          	</div>
			        </div>
			     {% endfor %}


		      </div>
		    </div>
		</div>
	</section>
	<section class="section_2">
		<div class="wrapper">
			<div class="empty-for-nav"></div>
			<div class="title-section">
				<div class="text-title-section">
					<span>{{lang_dict.lineup}}</span>
				</div>
				<div class="text-underline"></div>
			</div>
			<div class="section-conteiner">
				<div class="list-auto">
					{% for automobile in list_automobiles %}
				   	   <div class="auto-item">
					   		<a href="#">
						   		<div class="auto-img" style='background-image: url("{{ automobile.url_auto.url }}");'></div>
						   		<div class="auto-name"><strong>{{ automobile.title_auto }}</strong> 
							   		{% if automobile.availability_hybrid %}
							   			<span class="hybrid">{{lang_dict.hybrid}}</span>
							   		{% endif %}
						   		</div>
						   		<div class="auto-price">{{lang_dict.price}}<span class="price">{{lang_dict.price_from}}{{ automobile.price_starts }}</span> грн</div>
						   		<div class="auto-line"></div>
						   		<div class="auto-detail">{{lang_dict.more_detail}}</div>
						   	</a>
				   		</div>
				   {% endfor %} 
				</div>
			</div>
		</div>
		
	</section>

	<script src="{% static 'js\index\app.js' %}"></script>
	<script src="{% static 'js\index\slider_old.js' %}"></script>
	<!--<script src="{% static 'js\index\nav_fixed.js' %}"></script>-->
	  <script>
	    slideShow('.slider', {
	      isAutoplay: false
	    });
	 </script>	
</body>
</html>
