<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Enterprise | Your new car</title>
	<link rel="stylesheet" href="{% static 'css\index\styles_s1.css' %}">
	<link rel="stylesheet" href="{% static 'css\index\slider.css' %}">
	<style type="text/css">
		.header-sales-content, .header-maintenance-content{
			background-image: url("{% static 'site_images\трубка.png' %}");
		}

	</style>
</head>
<body>
	<header>
		<div class="header-top">
			<div class="header-logo">
				<img src="{% static 'site_images\toyota-logo-1989-2560x1440-1024x560 (1).png' %}">
			</div>
			<div class="header-address">
				<div class="header-address-content">
					<div class="header-address-top"><span>{{lang_dict.header_menu.city}}</span></div>
					<div class="header-address-bottom"><span>{{lang_dict.header_menu.address}}</span></div>
				</div>
			</div>
			<div class="header-sales">
				<div class="header-sales-content">
					<div class="header-sales-top"><span>{{lang_dict.header_menu.sales_department}}</span></div>
					<div class="header-sales-bottom"><span>{{lang_dict.header_menu.tel_sales_department}}</span></div>
				</div>
			</div>
			<div class="header-maintenance">
				<div class="header-maintenance-content">
					<div class="header-maintenance-top"><span>{{lang_dict.header_menu.maintenance_department}}</span></div>
					<div class="header-maintenance-top"><span>{{lang_dict.header_menu.tel_maintenance_department}}</span></div>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="header-menu">
				<div class="header-menu-item">
					<a href=""><div><span>{{lang_dict.header_menu.cars}}</span></div></a>
				</div>
				<div class="header-menu-item">
					<a href=""><div><span>{{lang_dict.header_menu.maintenance}}</span></div></a>
				</div>
				<div class="header-menu-item">
					<a href=""><div><span>{{lang_dict.header_menu.service}}</span></div></a>
				</div>
				<div class="header-menu-item">
					<a href=""><div><span></span>{{lang_dict.header_menu.promotions_news}}</div></a>
				</div>
				<div class="header-menu-item">
					<a href=""><div><span>{{lang_dict.header_menu.accessories}}</span></div></a>
				</div>
				<div class="header-menu-item">
					<a href=""><div><span>{{lang_dict.header_menu.spares}}</span></div></a>
				</div>
				<div class="header-menu-item">
					<a href=""><div><span>{{lang_dict.header_menu.about_us}}</span></div></a>
				</div>
			</div>
			<div class="header-other">
				<div class="header-other-logo">
					<img src="{% static 'site_images\toyota-logo-1989-2560x1440-1024x560 (1).png' %}">
				</div>
				<div class="header-other-lang">
					<span>{{ lang }}</span>
				</div>
			</div>
		</div>
	</header>
</body>
</html>