html, body{
	margin: 0;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	max-width: 100%;
	height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section{
	width: 100%;
	height: 100%;
}

.wrapper{
	width: 100%;
	height: 100%;
}

.slider,
.slider__wrapper,
.slider__items,
.slider__item,
.background_section_1{
	width: 100%;
	height: 100%;
}

.background_section_1{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slider__item{
	position: relative;

}

.substrate{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0000007d;
}

.slider-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Source Sans Pro";
}

.slider-description{
	width: 100%;
	padding: 0 0 0 15%;
	color: white;
	display: flex;
    flex-direction: column;
}

@media (max-width: 1299px){
	.slider-description{
		padding: 0 0 0 8%;
	}
}

@media (max-width: 889px){
	.slider-description{
		padding: 0 0 0 2%;
	}
}

@media (max-width: 409px){
	.slider-description{
		padding: 0 0 0 8px;
	}
}

.slider-description-title,
.slider-description-text{
	display: inline-block;
}

.section_1 .title-text{
	/*font-size: 55px;*/
	font-size: calc(20px + 35 * ((100vw - 320px)/ 1903));
	font-weight: 900;
}

@media (max-width: 767px){
	.section_1 .title-text{
		font-size: calc(20px + (35 + 35 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

.text-description{
	/*font-size: 43px;*/
	font-size: calc(20px + 24 * ((100vw - 320px)/ 1903));
	font-style: italic;
}

@media (max-width: 767px){
	.text-description{
		font-size: calc(20px + (24 + 24 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

.section_1 .title-text,
.section_1 .text-description{
	padding: 15px;
	display: inline-block;
}

@media (max-width: 889px){
	.title-text,
	.text-description{
		padding: 10px;
	}
}

@media (max-width: 639px){
	.title-text,
	.text-description{
		padding: 5px;
	}
}

.slider-description-button{
	margin: 53px 0 0 0;
}

@media (max-width: 1500px){
	.slider-description-button{
		margin: 18px 0 0 0;
	}
}

.slider-description-button .button{
	width: fit-content;
    padding: 15px;
    background-color: #9c1118;
    border-radius: 10px;
    text-align: center;
    /*font-size: 35px;*/
    font-size: calc(20px + 19 * ((100vw - 320px)/ 1903));
}

@media (max-width: 889px){
	.slider-description-button .button{
		padding: 10px;
	}
}



@media (max-width: 767px){
	.slider-description-button .button{
		font-size: calc(20px + (19 + 19 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

@media (max-width: 639px){
	.slider-description-button .button{
		padding: 5px;
	}
}

.button{
	display: inline-block;
}

.slider-description-button a{
	text-decoration: none;
	color: white;
}

.sticky  {
	position: fixed;
	top: 0px;
}

.section_2{
	overflow: hidden;
}

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-section{
	margin: 20px 0 0 0;
}

@media (max-width: 889px){
	.title-section{
		margin: 0px 0 0 0;
	}
}

.text-title-section{
	font-size: 38px;
	font-weight: 900;
	display: flex;
	justify-content: center;
}

@media (max-width: 889px){
	.text-title-section{
		font-size: 28px;
	}
}

.text-underline{
	background-color: #7d7d7d;
	padding: 1% 0 0 0;
	width: 380px;
	margin: 12px 0 0 0;
}

@media (max-width: 889px){
	.text-underline{
        margin: 0;
        padding: 0.8% 0 0 0;
        width: 255px;
 }
}

.section-conteiner{
	width: 100%;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-auto{
	display: grid;
	grid-template: 240px / repeat(4,400px);
	grid-auto-rows: 240px;
	grid-gap: 20px;
	padding: 40px 0 5px 0;
}

@media (max-width: 1613px){
	.list-auto{
		grid-template: 220px / repeat(4,300px);
		grid-auto-rows: 220px;
		grid-gap: 15px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 1240px){
	.list-auto{
		grid-template: 200px / repeat(4,250px);
		grid-auto-rows: 200px;
		grid-gap: 15px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 1040px){
	.list-auto{
		grid-template: 155px / repeat(4,200px);
		grid-auto-rows: 155px;
		grid-gap: 15px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 889px){
	.list-auto{
		grid-template: 155px / repeat(3,200px);
		grid-auto-rows: 155px;
		grid-gap: 15px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 599px){
	.list-auto{
		grid-template: 145px / repeat(3,172px);
		grid-auto-rows: 155px;
		grid-gap: 0px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 489px){
	.list-auto{
		grid-template: 122px / repeat(3,135px);
		grid-auto-rows: 122px;
		grid-gap: 0px;
		padding: 40px 0 5px 0;
	}
}

@media (max-width: 391px){
	.list-auto{
		grid-template: 122px / repeat(2,167px);
		grid-auto-rows: 122px;
		grid-gap: 0px;
		padding: 20px 0 5px 0;
	}
}

.auto-item{
	transition: all 0.3s;
    transition-timing-function: ease;
    overflow: hidden;
}

@media (max-width: 1613px){
	.auto-item{
	padding: 17px 0 0 0;
	}
}

@media (max-width: 489px){
	.auto-item{
	padding: 13px 0 0 0;
	}
}

@media (max-width: 391px){
	.auto-item{
	padding: 0px 0 0 0;
	}
}

.auto-item a{
	text-decoration: none;
}

.auto-item:hover{
	border-radius: 2em;
    box-shadow: 0 0 1em 0.1em #7d7d7d;
    transform: scale(1.05);
    background: white;
}

@media (max-width: 1613px){
	.auto-item:hover{
		border-radius: 35px;
	}
}

@media (max-width: 1240px){
	.auto-item:hover{
		border-radius: 26px;
	}
}

.auto-img{
	background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 29% 0 0 0;
}

span.hybrid{
	font-style: italic;
    color: #0962a7;
}

span.price{
	color: #cc0018;
}

.auto-line{
	width: 35%;
	padding: 1.5px 0 0 0;
	margin: 10px auto 0 auto;
	background-color: #7d7d7d;
}

@media (max-width: 889px){
    .auto-line{
    width: 66%;
    }
}

.auto-detail{
	font-style: italic;
    color: #808080;
}

.auto-name,
.auto-price,
.auto-detail{
	text-align: center;
	color: black;
	font-size: 25px;
}

@media (max-width: 1613px){
	.auto-name,
	.auto-price,
	.auto-detail{
		font-size: 23px;
	}
}

@media (max-width: 1240px){
	.auto-name,
	.auto-price,
	.auto-detail{
		font-size: 20px;
	}
}

@media (max-width: 1040px){
	.auto-name,
	.auto-price,
	.auto-detail{
		font-size: 16px;
	}
}

@media (max-width: 599px){
	.auto-name,
	.auto-price,
	.auto-detail{
		font-size: 12px;
	}
}

.section_3{
	position: relative;
}

.section-background{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper_section_3{
	position: absolute;
	top: 0;
	left: 0;
}

.title-section_3{
	color: white;
}

.text-underline_section_3{
	background-color: white;
}

.wrapper-servic{
	width: 1600px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 4%;
    grid-row-gap: 88px; 
    padding: 0 20px 0 20px;
}



@media (min-height: 989px) and (min-width: 890px) and (max-width: 1399px) {
	.wrapper-servic{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width:1400px){
	.wrapper-servic{
		width: 1265px;
		grid-column-gap: 4%;
		grid-row-gap: 44px;
	}
}

@media (max-width: 889px){
	.wrapper-servic{
		grid-template-columns: repeat(2, 1fr);
		width: 670px;
		grid-column-gap: 6%;
		grid-row-gap: 26px;
	}
}

@media (min-height: 882px) and (max-width: 889px) {
	.wrapper-servic{
		width: 769px;
		grid-column-gap: 9%;
		grid-row-gap: 84px;
	}
}

@media (min-height: 576px) and (max-width: 889px) {
	.wrapper-servic{
		width: 555px;
		grid-column-gap: 5%;
		grid-row-gap: 75px;
	}
}

@media (max-width:464px){
	.wrapper-servic{
	grid-template-columns: repeat(1, 1fr);
	width: 326px;
	grid-column-gap: 6%;
	grid-row-gap: 14px;
	}
}


.services-item{
	border: solid white;
	border-width: 1.5px;
	border-radius: 30px;
	box-shadow: inset 0 0 6px white;
	overflow: hidden;
	transition: all 0.3s;
	transition-timing-function: ease;
	position: relative;
}

@media (max-width: 1095px){
	.services-item{
		border-radius: 25px;
	}
}

@media (max-width: 465px){
	.services-item{
		border-radius: 15px;
	}
}

.services-item:hover{
	box-shadow: 0 0 10px 1px white;
	transform: scale(1.05);
}

.services-item-height{
	padding: 26% 0 0 0;
}

@media (max-width: 1400px){
	.services-item-height{
		padding: 31% 0 0 0;
	}
}

@media (min-height: 576px) and (max-width: 889px) {
	.services-item-height{
		padding: 46% 0 0 0;
	}
}

@media (max-width: 464px){
	.services-item-height{
		padding: 24% 0 0 0;
	}
}

@media (min-width: 1401px) and (max-height: 629px){
	.services-item-height{
		padding: 26% 0 0 0;
	}
}

.services-item a{
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

.cervice-content{
	border-radius: 30px;
    background-color: #000000cc;
    background-repeat: no-repeat;
    font-size: 37px;
    color: white;
    box-shadow: inset 0 0 10px white;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1400px){
	.cervice-content{
		font-size: 32px;
	}
}

@media (max-width: 1315px){
	.cervice-content{
		font-size: 30px;
	}
}

@media (max-width: 1095px){
	.cervice-content{
		font-size: 24px;
		border-radius: 25px;
		box-shadow: inset 0 0 8px white;
	}
}

@media (min-height: 576px) and (max-width: 889px){
	.cervice-content{
	font-size: 20px;
	}
}

@media (max-width: 575px){
	.cervice-content{
		font-size: 19px;
	}
}

@media (max-width: 465px){
	.cervice-content{
		font-size: 17px;
		border-radius: 15px;
		box-shadow: inset 0 0 6px white;
	}
}

.cervice-content-block{
	display: flex;
	flex: 1 1 auto;
	padding: 0 6% 0 6%;
}

.cervice-content-img{
	width: 30%;
    padding: 30% 0 0 0;
    background-size: 74%;
    background-repeat: no-repeat;
    background-position: center;
}

.cervice-content-text{
	width: 70%;
    align-self: center;
    padding: 0 0 0 8%;
}

.section-conteiner-section_4{
	justify-content: start;
	align-items: baseline;
	flex-direction: column;
}

.block-promotions_news{
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-self: center;
	padding: 0 20px 0 20px;
}

.block-item{
	display: flex;
	padding: 20px;
	justify-content: center;
}

@media (max-width: 1049px){
    .block-item{
    	padding: 14px;
    	}
}

.block--img{
	width: 28%;
	min-width: 28%;
	/* padding: 13% 0 0 0; */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: -4px 4px 10px hsl(0deg 0% 0% / 60%);
	/* flex: 1 1 510px; */
}

@media (max-width: 1295px){
	.block--img{
		width: 35%;
		min-width: 35%;
	}
}

@media (max-width: 1049px){
	.block--img{
		width: 0;
	    min-width: 0;
		display: none;
	}
}

.block--content{
	margin: 0 0 0 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 72%;
	/* flex: 1 1 1273px; */
}

@media (max-width: 1295px){
	.block--content{
		width: 65%;
	}
}

@media (max-width: 1049px){
	.block--content{
		width: 100%;
		margin: 0;
	}
}

.title-block{
	font-size: 38px;
	font-weight: 900;
}

@media (max-width: 886px){
	.title-block{
		font-size: 21px;
	}
}

@media (max-width: 601px){
	.title-block{
		font-size: 30px;
	}
}

.text-block{
	font-size: 31px;
	font-weight: lighter;
	padding: 20px;
}

@media (max-width: 886px){
	.section_4 .text-block{
	    font-size: 20px;
	}
}

@media (max-width: 1049px){
	.section_4 .text-block{
	    padding: 10px 0 10px 0;
	}
}

@media (max-width: 601px){
	.section_4 .text-block{
	    font-size: 21px;
	}
}

.more-block{
	text-decoration: none;
	font-size: 29px;
	font-style: italic;
	color: black;
}

@media (max-width: 886px){
	.more-block{
	    font-size: 19px;
	 }
}

@media (max-width: 601px){
	.more-block{
	    font-size: 20px;
	 }
}

.buttons-promotions_news{
	width: 100%;
	margin: 0 0 10px 0;
}

.buttons-list{
	display: flex;
}

.buttons-list .button{
	flex: 1 1 22%;
	margin: 0 100px 0 100px;
}

@media (max-width: 736px){
	.buttons-list .button{
		flex: 1 1 22%;
		margin: 0 50px 0 50px;
	}
}

.text-buttom-m1{
	display: flex;
}

.text-buttom-m1.promotions{
	justify-content: end;
}

.text-buttom{
	width: 34%;
	padding: 7% 0 0 0;
	position: relative;
	background-color: #a80014;
	box-shadow: -2px 4px 10px hsl(0deg 0% 0% / 60%);
	border-radius: 10px;
}

@media (max-width: 1850px){
	.text-buttom{
		width: 34%;
		padding: 8% 0 0 0;
	}
}

@media (max-width: 1711px){
	.text-buttom{
		width: 37%;
		padding: 11% 0 0 0;
	}
}

@media (max-width: 1473px){
	.text-buttom{
		width: 34%;
		padding: 12% 0 0 0;
	}
}

@media (max-width: 1352px){
	.text-buttom{
		width: 38%;
		padding: 11% 0 0 0;
	}
}

@media (max-width: 1208px){
	.text-buttom{
		width: 42%;
		padding: 12% 0 0 0;
	}
}

@media (max-width: 1123px){
	.text-buttom{
		width: 54%;
		padding: 15% 0 0 0;
	}
}

@media (max-width: 977x){
	.text-buttom{
		width: 37%;
		padding: 12% 0 0 0;
	}
}

@media (max-width: 952px){
	.text-buttom{
		width: 56%;
		padding: 18% 0 0 0;
	}
}

@media (max-width: 736px){
	.text-buttom{
		width: 54%;
		padding: 17% 0 0 0;
	}
}

@media (max-width: 507px){
	.text-buttom{
		width: 67%;
		padding: 20% 0 0 0;
	}
}

@media (max-width: 500px){
	.text-buttom{
		width: 96%;
		padding: 36% 0 0 0;
		border-radius: 9px;
	}
}

.text-buttom div{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 41px;
	color: white;
}

@media (max-width: 1637px){
	.text-buttom div{
		font-size: 33px;
	}
}

@media (max-width: 1304px){
	.text-buttom div{
		font-size: 27px;
	}
}

@media (max-width: 889px){
	.text-buttom div{
		font-size: 20px;
	}
}

@media (max-width: 736px){
	.text-buttom div{
		font-size: 16px;
	}
}

.subscription-block{
	width: 100%;
	margin: 50px 0 0 0;
	background-color: #000000bf;
	padding: 6.5% 0 0 0;
	position: relative;
}

@media (max-width: 500px){
	.subscription-block{
		margin: 50px 0 0 0;
		padding: 17.5% 0 0 0;
	}
}

.subscription-block-conteiner{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
}

.subscription-block .item-1{
	flex: 1 1 42%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: end;
	font-style: italic;
	font-weight: lighter;
	padding: 0 2% 0 0;
	overflow: hidden;
}

@media (max-width: 889px){
	.subscription-block .item-1{
		display: none;
	}
}

.subscription-block .item-2{
	flex: 1 1 34%;
}

@media (max-width: 500px){
	.subscription-block .item-2{
		flex: 1 1 60%;
	}
}

.subscription-block .item-3{
	flex: 1 1 25%;
	color: white;
}

@media (max-width: 500px){
	.subscription-block .item-3{
		flex: 1 1 40%;
	}
}

.mail-conteiner{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#email_fild{
	width: 80%;
	height: 46%;
	border-radius: 15px;
	font-size: 25px;
	text-indent: 40px;
}

@media (max-width: 1548px){
	#email_fild{
		font-size: 22px;
	}
}

@media (max-width: 1332px){
	#email_fild{
		font-size: 19px;
		border-radius: 12px;
	}
}

@media (max-width: 1004px){
	#email_fild{
		font-size: 16px;
		border-radius: 10px;
	}
}

@media (max-width: 889px){
	#email_fild{
		height: 70%;
	}
}

@media (max-width: 560px){
	#email_fild{
		height: 66%;
		width: 74%;
		border-radius: 7px;
		font-size: 14px;
	}
}

@media (max-width: 500px){
	#email_fild{
		height: 66%;
		width: 90%;
		border-radius: 7px;
		font-size: 14px;
	}
}

.button-conteiner{
	display: flex;
	align-items: center;
	width: 100%;
}

.button-text{
	position: relative;
	width: 46%;
	padding: 11% 0 0 0;
	background-color: #b30015;
	border-radius: 15px;
}

@media (max-width: 1548px){
	.button-text{
        width: 46%;
        padding: 14% 0 0 0;
     }
}

@media (max-width: 1004px){
	.button-text{
        border-radius: 11px;
     }
}

@media (max-width: 889px){
	.button-text{
        width: 39%;
        padding: 10% 0 0 0;
     }
}

@media (max-width: 560px){
	.button-text{
     border-radius: 10px;
     }
}

@media (max-width: 500px){
	.button-text{
		border-radius: 10px;
		width: 82%;
		padding: 21% 0 0 0;
	}
}

.button-text-p1{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 32px;
}

@media (max-width: 1548px){
	.button-text-p1{
		font-size: 27px;
	}
}

@media (max-width: 1332px){
	.button-text-p1{
		font-size: 24px;
	}
}

@media (max-width: 1140px){
	.button-text-p1{
		font-size: 20px;
	}
}

@media (max-width: 1004px){
	.button-text-p1{
		font-size: 17px;
	}
}

@media (max-width: 560px){
	.button-text-p1{
		font-size: 15px;
	}
}

.subscription-item .text-block{
	font-size: 31px;
}

@media (max-width: 1800px){
	.subscription-item .text-block{
	font-size: 27px;
	}
}

@media (max-width: 1600px){
	.subscription-item .text-block{
	font-size: 23px;
	}
}

@media (max-width: 1365px){
	.subscription-item .text-block{
	font-size: 19px;
	}
}

@media (max-width: 1130px){
	.subscription-item .text-block{
	font-size: 16px;
	}
}

@media (max-width: 957px){
	.subscription-item .text-block{
	font-size: 14px;
	}
}



.section_4{
}

@media (max-width:500px) and (max-height: 583px){
    .section_4{
        height:auto;
    }
}

@media (min-width:887px) and (max-height: 650px){
    .section_4{
        height:auto;
    }
}

.section_5{
}

@media (max-width: 889px){
	.section_5{
	    height: auto;
	}
}

@media (max-height: 850px){
	.section_5{
	    height: auto;
	}
}

.section_5 .section-conteiner{
}

@media (max-width: 889px){
	.section_5 .section-conteiner{
	    flex-direction: column;
	}
}

.section-conteiner-item{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	 justify-content: space-between; 
}

@media (max-width: 889px){
	.section-conteiner-item{
		width: 100%;
	}
}

.section_5 .title-block{
	text-align: center;
	margin: 50px 0 0 0;
	font-size: calc(30px + 35 * ((100vw - 320px)/ 1903));
}

@media (max-width: 767px){
	.section_5 .title-block{
		font-size: calc(30px + (35 + 35 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

.content-block-conteiner{
}

@media (max-width: 889px){
	.content-block-conteiner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.content-block-conteiner-item{
	display: flex;
	justify-content: center;
}

.content-block-conteiner-item-1{
	display: flex;
	align-content: center;
	justify-content: center;
}

.section_5 .content-block-conteiner-item .img{
	width: 60px;
	height: 60px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-self: center;
}

@media (max-width: 475px){
	.section_5 .content-block-conteiner-item .img{
		width: 40px;
		height: 40px;
	}
}

.section_5 .text-block{
	width: 350px;
	font-size: calc(20px + 27 * ((100vw - 320px)/ 1903));
}

@media (max-width: 767px){
	.section_5 .text-block{
		font-size: calc(20px + (35 + 35 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

@media (max-width: 450px){
	.section_5 .text-block{
		width: 300px;
	}
}

.section_5 .text-block .text{
	font-style: italic;
    font-weight: bold;
}

.block-social-title{
	text-align: center;
	font-size: calc(22px + 35 * ((100vw - 320px)/ 1903));
	font-weight: bold;
}

@media (max-width: 767px){
	.block-social-title{
	    font-size: calc(22px + (35 + 35 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

.block-social-conteiner{
	display: flex;
	justify-content: center;
}

.block-social-conteiner-1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px 0 10px;
}

.block-social{
	margin: 0 0 65px 0;
}

@media (max-width: 889px){
	.block-social{
		margin: 45px 0 0 0;
	}
}

.social-item{
	width: 70px;
	height: 70px;
	align-self: center;
}

@media (max-width: 475px){
	.social-item{
		width: 50px;
		height: 50px;
	}
}

.social-item{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-self: center;
}

.block-map{
	justify-content:normal;
}

@media (max-width: 889px){
	.block-map{
		margin: 0 0 20px 0;
	}
}

.block-map .title-block{
	height: 5.2%;
	min-height: 5.2%;
}

.block-map .map{
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.map{
	padding: 0 20px 0 10px;
}	

/*section_6*/
.section_6{
	display: flex;
	flex-direction: column;
}

.footer-content{
	display: flex;
	width: 1600px;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 50px;
}

@media (max-width: 1699px){
	.footer-content{
		width:1300px;
	}
}

.section_6 .title-text{
	color: white;
    font-style: italic;
}

.section_6 .footer-item{
	color: white;
	font-style: italic;
	font-weight: lighter;
}

.section_6 .footer-item a{
	text-decoration: none;
	color: white;
}

.footer-block{
	width: 400px;
	padding: 0 20px 0 20px;
}

@media (max-width: 1699px){
	.footer-block{
		width: 315px;
	}
}

.footer-block-title{
	font-size: calc(20px + 27 * ((100vw - 320px)/ 1903));
}

@media (max-width: 767px){
	.footer-block-title{
		font-size: font-size: calc(20px + (35 + 35 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

.item-text{
	font-size: calc(14px + 21 * ((100vw - 320px)/ 1903));
}

.footer-block-list{
	margin: 50px 0 0 0;
}