html, body{
	margin: 0;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	max-width: 100%;
	height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section{
	width: 100%;
	height: 100%;
}

.slider,
.slider__wrapper,
.slider__items,
.slider__item,
.background_section_1{
	width: 100%;
	height: 100%;
}

.section_1{
	position: relative;
}

.background_section_1{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
}

.slider-content{
	width: 100%;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.slider-description{
	width: 100%;

}


