html, body{
	margin: 0;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	max-width: 100%;
	height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section{
	width: 100%;
	height: 100%;
}

.wrapper{
	width: 100%;
	height: 100%;
}

.slider,
.slider__wrapper,
.slider__items,
.slider__item,
.background_section_1{
	width: 100%;
	height: 100%;
}

.background_section_1{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.slider__item{
	position: relative;

}

.substrate{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0000007d;
}

.slider-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Source Sans Pro";
}

.slider-description{
	width: 100%;
	padding: 0 0 0 15%;
	color: white;
	display: flex;
    flex-direction: column;
}

@media (max-width: 1299px){
	.slider-description{
		padding: 0 0 0 8%;
	}
}

@media (max-width: 889px){
	.slider-description{
		padding: 0 0 0 2%;
	}
}

@media (max-width: 409px){
	.slider-description{
		padding: 0 0 0 8px;
	}
}

.slider-description-title,
.slider-description-text{
	display: inline-block;
}

.title-text{
	/*font-size: 55px;*/
	font-size: calc(20px + 35 * ((100vw - 320px)/ 1903));
	font-weight: 900;
}

@media (max-width: 767px){
	.title-text{
		font-size: calc(20px + (35 + 35 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

.text-description{
	/*font-size: 43px;*/
	font-size: calc(20px + 24 * ((100vw - 320px)/ 1903));
	font-style: italic;
}

@media (max-width: 767px){
	.text-description{
		font-size: calc(20px + (24 + 24 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

.title-text,
.text-description{
	padding: 15px;
	display: inline-block;
}

@media (max-width: 889px){
	.title-text,
	.text-description{
		padding: 10px;
	}
}

@media (max-width: 639px){
	.title-text,
	.text-description{
		padding: 5px;
	}
}

.slider-description-button{
	margin: 53px 0 0 0;
}

@media (max-width: 1500px){
	.slider-description-button{
		margin: 18px 0 0 0;
	}
}

.slider-description-button .button{
	width: fit-content;
    padding: 15px;
    background-color: #9c1118;
    border-radius: 10px;
    text-align: center;
    /*font-size: 35px;*/
    font-size: calc(20px + 19 * ((100vw - 320px)/ 1903));
}

@media (max-width: 889px){
	.slider-description-button .button{
		padding: 10px;
	}
}



@media (max-width: 767px){
	.slider-description-button .button{
		font-size: calc(20px + (19 + 19 * 0.7) * ((100vw - 320px)/ 1903));
	}
}

@media (max-width: 639px){
	.slider-description-button .button{
		padding: 5px;
	}
}

.button{
	display: inline-block;
}

.slider-description-button a{
	text-decoration: none;
	color: white;
}

.sticky  {
	position: fixed;
	top: 0px;
}

.section_2{
	overflow: hidden;
}

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-section{
	margin: 20px 0 0 0;
}

@media (max-width: 889px){
	.title-section{
		margin: 0px 0 0 0;
	}
}

.text-title-section{
	font-size: 38px;
	font-weight: 900;
	display: flex;
	justify-content: center;
}

@media (max-width: 889px){
	.text-title-section{
		font-size: 28px;
	}
}

.text-underline{
	background-color: #7d7d7d;
	padding: 1% 0 0 0;
	width: 380px;
	margin: 12px 0 0 0;
}

@media (max-width: 889px){
	.text-underline{
        margin: 0;
        padding: 0.8% 0 0 0;
        width: 255px;
 }
}

.section-conteiner{
	width: 100%;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
}

.list-auto{
	display: grid;
	grid-template: 240px / repeat(4,400px);
	grid-auto-rows: 240px;
	grid-gap: 20px;
	padding: 40px 0 5px 0;
}

@media (max-width: 1613px){
	.list-auto{
		grid-template: 220px / repeat(4,300px);
		grid-auto-rows: 220px;
		grid-gap: 15px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 1240px){
	.list-auto{
		grid-template: 200px / repeat(4,250px);
		grid-auto-rows: 200px;
		grid-gap: 15px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 1040px){
	.list-auto{
		grid-template: 155px / repeat(4,200px);
		grid-auto-rows: 155px;
		grid-gap: 15px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 889px){
	.list-auto{
		grid-template: 155px / repeat(3,200px);
		grid-auto-rows: 155px;
		grid-gap: 15px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 599px){
	.list-auto{
		grid-template: 145px / repeat(3,172px);
		grid-auto-rows: 155px;
		grid-gap: 0px;
		padding: 30px 0 5px 0;
	}
}

@media (max-width: 489px){
	.list-auto{
		grid-template: 122px / repeat(3,135px);
		grid-auto-rows: 122px;
		grid-gap: 0px;
		padding: 40px 0 5px 0;
	}
}

@media (max-width: 391px){
	.list-auto{
		grid-template: 122px / repeat(2,167px);
		grid-auto-rows: 122px;
		grid-gap: 0px;
		padding: 20px 0 5px 0;
	}
}

.auto-item{
	transition: all 0.3s;
    transition-timing-function: ease;
    overflow: hidden;
}

@media (max-width: 1613px){
	.auto-item{
	padding: 17px 0 0 0;
	}
}

@media (max-width: 489px){
	.auto-item{
	padding: 13px 0 0 0;
	}
}

@media (max-width: 391px){
	.auto-item{
	padding: 0px 0 0 0;
	}
}

.auto-item a{
	text-decoration: none;
}

.auto-item:hover{
	border-radius: 2em;
    box-shadow: 0 0 1em 0.1em #7d7d7d;
    transform: scale(1.05);
    background: white;
}

@media (max-width: 1613px){
	.auto-item:hover{
		border-radius: 35px;
	}
}

@media (max-width: 1240px){
	.auto-item:hover{
		border-radius: 26px;
	}
}

.auto-img{
	background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 29% 0 0 0;
}

span.hybrid{
	font-style: italic;
    color: #0962a7;
}

span.price{
	color: #cc0018;
}

.auto-line{
	width: 35%;
	padding: 1.5px 0 0 0;
	margin: 10px auto 0 auto;
	background-color: #7d7d7d;
}

@media (max-width: 889px){
    .auto-line{
    width: 66%;
    }
}

.auto-detail{
	font-style: italic;
    color: #808080;
}

.auto-name,
.auto-price,
.auto-detail{
	text-align: center;
	color: black;
	font-size: 25px;
}

@media (max-width: 1613px){
	.auto-name,
	.auto-price,
	.auto-detail{
		font-size: 23px;
	}
}

@media (max-width: 1240px){
	.auto-name,
	.auto-price,
	.auto-detail{
		font-size: 20px;
	}
}

@media (max-width: 1040px){
	.auto-name,
	.auto-price,
	.auto-detail{
		font-size: 16px;
	}
}

@media (max-width: 599px){
	.auto-name,
	.auto-price,
	.auto-detail{
		font-size: 12px;
	}
}




