.header-conteiner{
	position: absolute;
	top: 0;
	left: 0;

	max-width: 100vw;
	width: 100%;
	background-color: #000000b3;
	color: white;
	/*overflow: hidden;*/
	box-shadow: 0 5px 5px -5px rgb(0 0 0);
	z-index: 99999;
}

/*header{
	max-width: 100vw;
	width: 100%;
	background-color: #000000b3;
	color: white;
	overflow: hidden;
	box-shadow: 0 5px 5px -5px rgb(0 0 0);
}*/



.header-top{
	display: flex;
	justify-content: space-evenly;
	height: 140px;
}

.header-logo{
	width: 17%
}

.header-logo, .header-other-logo{
/*	display: flex;
	flex-direction: column;
	justify-content: center;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
}

.header-sales, .header-maintenance{
	width: 45%;
}

.header-address{
	/*flex: 3;*/
	width: 49%;
}

.header-logo img{
	height: 100%;
}

.header-address, .header-sales, .header-maintenance{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-address, .header-sales, .header-maintenance{
	font-size: 24px;
}

.header-tel{
	display: flex;
	width: 34%;
}

.header-sales-content, .header-maintenance-content{
	background-repeat: no-repeat;
	padding-left: 55px;
	background-position: left center;
	background-size: 43px;
}

.header-bottom{
	display: flex;
	background-color: #ffffff99;
	height: 50px;
}

.header-bottom{
	font-size: 24px;
}

.header-menu, .header-other{
	display: flex;
	color: black;
}

.header-other-logo{
	height: 100%;
	width: 90px;
}

.header-other-logo img{
	height: 100%;
}

.header-menu a{
	text-decoration: none;
	color: black;
}

.header-other-lang{
	text-transform: uppercase;
	width: 110px;
}

.header-other-lang span{
	text-align: center;
}

.header-menu-item, .header-other-lang{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-menu{
	/*flex: 5;*/
	width: 83%;
	justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.header-other{
	/*flex: 1;*/
	width: 17%;
}

.header-menu-item{
	padding-right: 30px;
	padding-left: 30px;
	height: 100%;
}

.header-other-lang:hover, .header-menu-item:hover{
	border: 1px solid #737373;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.title-menu-modile{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 17px;
}

.title-menu-modile span{
	text-align: center;
}

.title-menu-modile div{
	display: inline-block;
	border: 1px solid #ffffff99;
    border-radius: 11px;
    padding: 5px;
    width: fit-content;	
    background-color: #ffffff66;
    color: black;
}

.header-menu-modile, .list-menu-modile{
	display: none;
}

@media (max-width: 1569px){
/*	.header-top{
		height: 115px;
	}

	.header-bottom{
		height: 41px;
	}*/

	.header-bottom{
		font-size: 23px;
	}

	.header-address, .header-sales, .header-maintenance{
		font-size: 22px;
	}

	.header-menu{
		padding-left: 30px;
		padding-right: 30px;
	}

}

@media (max-width: 1395px){
/*	.header-top{
		height: 102px;
	}

	.header-bottom{
		height: 36px;
	}*/

	.header-bottom{
		font-size: 17px;
	}

	.header-address, .header-sales, .header-maintenance{
		font-size: 20px;
	}

	.header-sales, .header-maintenance{
		font-size: 17px;
	}

	.header-menu{
		padding-left: 30px;
		padding-right: 30px;
	}

	.header-sales-content, .header-maintenance-content{
		background-size: 37px;
	}

}

@media (max-width: 1190px){
/*	.header-top{
		height: 87px;
	}

	.header-bottom{
		height: 31px;
	}*/

	.header-bottom{
		font-size: 15px;
	}

	.header-address, .header-sales, .header-maintenance{
		font-size: 20px;
	}

	.header-menu{
		padding-left: 30px;
		padding-right: 30px;
	}

	.header-logo, .header-other-logo{
		background-size: 75%;
	}

	.header-sales, .header-maintenance{
		font-size: 17px;
	}

}

@media (min-width: 890px) and (max-width: 1189px){
	.header-tel{
		width: 45%;
	}

	.header-address{
		width: 38%;
	}
	.header-address, .header-sales, .header-maintenance{
		font-size: 20px;
	}

	.header-logo, .header-other-logo{
		background-size: 130%;
	}

	.header-menu{
		width: 75%;
	}

	.header-other{
		width: 25%;
	}

	.header-other-lang{
		width: 70px;
	}

	.header-other-logo{
		background-size: 100%;
	}

	.header-menu-item{
		padding-right: 10px;
		padding-left: 10px;
	}

	.header-address, .header-sales, .header-maintenance{
		font-size: 16px;
	}

	.header-sales-content, .header-maintenance-content{
		background-size: 34px;
		padding-left: 44px;
	}
}

@media(max-height: 768px){
	.header-top{
		height: 81px;
	}

	.header-bottom{
		height: 40px;
	}

	.header-logo, .header-other-logo{
		background-size: 73%;
	}
}

@media(max-height: 768px) and (min-width: 1346px){
	.header-logo, .header-other-logo{
		background-size: 53%;
	}
}

@media (max-width: 889px){
	.header-address{
		width: 41%;
	}

	.header-logo, .header-other-logo{
		background-size: 150%;
	}

	.header-sales-content, .header-maintenance-content{
		padding-left: 30px;
		background-size: 23px;
		width: 100%;
	}

	.header-address, .header-sales, .header-maintenance{
		font-size: 12px;
	}

	.header-top{
		height: 90px;
	}
	.header-menu{
		/*display: none;*/
		display: block;
		position: absolute;
		top: 140px;
		padding: 0;
		width: 30%;
		background-color: #b7b7b7;
		box-shadow: 0 1px 4px rgb(0 0 0), -23px 0 20px -23px rgb(0 0 0 / 80%), 23px 0 20px -23px rgb(0 0 0 / 80%), 0 0 40px rgb(0 0 0 / 10%) inset;
	}

	.header-menu-item{
		height: 30px;
	}

	.header-menu-item:hover{
		border: 1px solid #737373;
		box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	}

	.header-bottom{
		height: 37px;
		justify-content: space-between;
	}

	.header-tel{
		width: 52%;
	}

	.header-menu-modile{
		display: block;
	}

	.title-menu-modile div:hover{
		background-color: #67676766;
	}

	.title-menu-modile a:focus{
		border-radius: 10px;
	}

	


	.header-menu{
		overflow: hidden;
		width: 0px;
		opacity: 0;
		transition: ease-out 0.1s;

	}

	.header-menu.activ{
		width: 30%;
		max-width: 200px;
		min-width: 160px;
		opacity: 1;
		transition: ease-out 0.1s;
	}

	

	.header-other-logo{
		max-width: 50px;
	}

}

@media (max-width: 564px){
	.header-sales, .header-maintenance{
		width: fit-content;
		margin-left: auto;
		margin-right: 15px;
	}

	.header-tel{
		flex-direction: column;
		justify-content: space-evenly;
	}

	.header-other{
		width: 24%;
	}

	.header-other-logo{
		min-width: 48px;
	}
}

@media (max-width: 489px){
	.header-sales, .header-maintenance{
		margin: 0;
	}

	.header-logo{
		width: 30%;
	}

	.header-address{
		width: 40%;
	}

	.header-tel{
		width: 30%;
	}

	.header-sales-content, .header-maintenance-content{
		padding-left: 25px;
		background-size: 19px;
	}

	.header-address, .header-sales, .header-maintenance{
		font-size: 10px;
	}

	.header-address-content{
		font-size: 12px;
	}

	.header-logo{
		max-width: 125px;
	}

	.header-sales, .header-maintenance{
		margin-left: auto;
		margin-right: 5px;
		width: fit-content;
	}

	.header-menu{
		font-size: 14px;
	}
}

тест



